<div class="row">
	<div class="col col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title">关税管理</h3></div>

			<div class="panel-body">
					<form name="searchForm">
							<div class="container-fluid">
								<div class="row">
									<div class="col col-sm-3">
										<div class="form-group"
											ng-class="{'has-error': searchModel.invoice.$invalid}">
											<input type="text" ng-model="searchModel.invoice"
												class="form-control" placeholder="编号">
										</div>
									</div>

									<div class="col col-sm-3">
										<div class="form-group"
											ng-class="{'has-error': searchModel.sku.$invalid}">
											<input type="text" name="sku" ng-model="searchModel.sku" id="sku"
												class="form-control"
												typeahead="i as i.sku for i in skus | filter:{sku: $viewValue} | limitTo:10"
												placeholder="SKU">
										</div>
									</div>
									
									<div class="col col-sm-3">
										<div class="form-group"
											ng-class="{'has-error': searchModel.country.$invalid}">
											<select name="country" class="form-control"
												ng-model="searchModel.country"
												ng-options="w.id as w.name for w in countries" required>
												<option value="">--请选择--</option>
											</select>
										</div>
									</div>
									
									
									
								</div>
								<div class="row">
									<div class="col col-sm-4">
										<div class="form-group">
											<button type="button" class="btn btn-primary"
												ng-click="toFilter()">搜索</button>
											<button type="button" class="btn btn-primary"
												ng-click="toExport()">导出</button>
										</div>
									</div>
								</div>
							</div>
						</form>
				<table class="table table-condensed table-hover">
					<thead>
						<tr>
							<th><a href="#/item/customs/update/new"><i class="glyphicon glyphicon-plus"></i></a></th>
							<th>海关编码</th>
							<th>SKU</th>
							<th>国家</th>
							<th>关税率</th>
							<th>退税率</th>
							<th>User</th>
							<th>创建日期</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="custom in customs">
							<td>
								<a href="#/item/customs/update/{{custom.id}}"><i class="glyphicon glyphicon-pencil"></i></a>
								<a href="javascript:;" ng-click="destroy(custom.id)"><i class="glyphicon glyphicon-remove"></i></a>
							</td>
							<td>{{custom.customs_code}}</td>
							<td>{{custom.item.sku}}</td>
							<td>{{custom.country | country}}</td>
							<td>{{custom.tariff_rate}}</td>
							<td>{{custom.refund_tax_rate}}</td>
							<td>{{custom.user.email}}</td>
							<td>{{custom.created_at}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>